<h1>Counter Index</h1>


<div>
    {{!-- Start here --}}

    {{!-- <form action="/count" method="post"> --}}
        <div class="counter">
            {{body}}
        </div>
        {{!-- <input type="submit" value="Press button to count"> --}}
        <h1>Perfect Pizza</h1>
        <div class=" pizzaCart">
            <h2> shopping Cart</h2>
            <p>Small x {{pizzaSmall}} {{pizzaSmallTotal}}</p>
            <p>Medium x {{pizzaMedium}} {{pizzaMediumTotal}}</p>
            <p>Large x {{pizzalarge}} {{pizzaLargeTotal}}</p>
            <p id="totalCost"> orderTotalCost : {{pizzaTotalCost}}</p>

            <button>ORDER</button>

        </div>

        <div class="pizzaSizes">
            <div class="pizza1">
                <form action="/large" method="POST">

                    <img src="pizza.png" alt="">
                    <h2>Large Pizza</h2>
                    <strong>R87.99</strong>

                    <div>
                        medium margeritha pizza with 3 toppings max.
                        2 or less meat topping.
                        3 or less other toppings.
                    </div>
                    <label class="lar">
                        <button type="submit" name="large" class="pizzaSize" value="large">Buy</button>
                        <span class="label-body"></span>
                    </label>

                </form>
            </div>



            <div class="pizza2">
                <form action="/medium" method="POST">

                    <img src="pizza.png" alt="">
                    <h2>Medium Pizza</h2>
                    <strong>R58.99</strong>

                    <div>
                        medium margeritha pizza with 3 toppings max.
                        2 or less meat topping.
                        3 or less other toppings.
                    </div>

                    <label class="med">
                        <button  type="submit" name="medium" class="pizzaSize" value="medium">Buy</button>
                        <span class="label-body"></span>
                    </label>
                </form>

            </div>

            <div class="pizza3">
                <form action="/small" method="POST">

                    <img src="pizza.png" alt="">
                    <h2>Small Pizza</h2>
                    <strong>R31.99</strong>

                    <div>
                        medium margeritha pizza with 3 toppings max.
                        1 meat topping.
                        3 or less other toppings.

                    </div>

                    <label class="sma">
                        <button type="submit" name="small" class="pizzaSize" value="small">Buy</button>
                        <span class="label-body"></span>
                    </label>

                </form>

            </div>



        </div>
        {{!--
    </form> --}}
</div>